<launch>


    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    
    <arg name="world_file" default="$(find robot_simulation)/world/box_house.world"/>
    
    <!-- We resume the logic in empty_world.launch -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
    </include>

    <arg name="gpu" default="true" />
    <arg name="organize_cloud" default="false" />



</launch>
